.content .project-section {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}

.content .project-tile {
    align-content: center;
    align-items: center;
    align-self: stretch;
    background-color: rgb(54, 58, 141);
    border-radius: 12px;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: space-between;
    overflow: hidden;
    padding: 16px 20px 20px;
    position: relative;
    transform: perspective(1200px);
    width: 1px;
    will-change: transform;
}